@model Excel.Entities.Motd

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Message of the Day</h4>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Creating</h3>
                    <p>Creating a message of the day over-writes current and upcoming messages.</p>
                    <p>The message will only display on the top of users' Dashboard view.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Days To Live</h3>
                    <p>Days to Live is how many days the message will display including today.</p>
                    <p>Example, if today is Monday and you set Days To Live 5, Message will display today thru Friday at midnight.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Usage</h3>
                    <p>Use sparringly.</p>
                    <p>Individual messages can be edited on list page.</p>
                </div>
            </div>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Message, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DaysToLive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DaysToLive, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DaysToLive, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
