@model List<Excel.Web.Models.SessionTableAthletes>

@{
    ViewBag.Title = "Index";
}

<h2>Sessions</h2>
@ViewBag.TodaysDate
<br />

@Html.Partial("_SessionPartial", Model.ElementAt(0))
@Html.Partial("_SessionPartial", Model.ElementAt(1))
@Html.Partial("_SessionPartial", Model.ElementAt(2))
@Html.Partial("_SessionPartial", Model.ElementAt(3))

