@model IEnumerable<Excel.Entities.Athlete>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4" style="background-color:lightgray;">@Html.DisplayFor(modelItem => modelItem.ElementAt(0).FirstName) @Html.DisplayFor(modelItem => modelItem.ElementAt(0).LastName)</div>
        <div class="col-sm-4" style="background-color:lightgray;">@Html.DisplayFor(modelItem => modelItem.ElementAt(1).FirstName) @Html.DisplayFor(modelItem => modelItem.ElementAt(1).LastName)</div>
        <div class="col-sm-4" style="background-color:lightgray;">@Html.DisplayFor(modelItem => modelItem.ElementAt(2).FirstName) @Html.DisplayFor(modelItem => modelItem.ElementAt(2).LastName)</div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:ghostwhite;">@Html.DisplayFor(modelItem => modelItem.ElementAt(3).FirstName) @Html.DisplayFor(modelItem => modelItem.ElementAt(3).LastName)</div>
        <div class="col-sm-4" style="background-color:ghostwhite;">@Html.DisplayFor(modelItem => modelItem.ElementAt(4).FirstName) @Html.DisplayFor(modelItem => modelItem.ElementAt(4).LastName)</div>
        <div class="col-sm-4" style="background-color:ghostwhite;">@Html.DisplayFor(modelItem => modelItem.ElementAt(5).FirstName) @Html.DisplayFor(modelItem => modelItem.ElementAt(5).LastName)</div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:lightgray;">@Html.DisplayFor(modelItem => modelItem.ElementAt(6).FirstName) @Html.DisplayFor(modelItem => modelItem.ElementAt(6).LastName)</div>
        <div class="col-sm-4" style="background-color:lightgray;">@Html.DisplayFor(modelItem => modelItem.ElementAt(7).FirstName) @Html.DisplayFor(modelItem => modelItem.ElementAt(7).LastName)</div>
        <div class="col-sm-4" style="background-color:lightgray;">@Html.DisplayFor(modelItem => modelItem.ElementAt(8).FirstName) @Html.DisplayFor(modelItem => modelItem.ElementAt(8).LastName)</div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:ghostwhite;">@Html.DisplayFor(modelItem => modelItem.ElementAt(9).FirstName) @Html.DisplayFor(modelItem => modelItem.ElementAt(9).LastName)</div>
        <div class="col-sm-4" style="background-color:ghostwhite;">@Html.DisplayFor(modelItem => modelItem.ElementAt(10).FirstName) @Html.DisplayFor(modelItem => modelItem.ElementAt(10).LastName)</div>
        <div class="col-sm-4" style="background-color:ghostwhite;">@Html.DisplayFor(modelItem => modelItem.ElementAt(11).FirstName) @Html.DisplayFor(modelItem => modelItem.ElementAt(11).LastName)</div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:lightgray;">@Html.DisplayFor(modelItem => modelItem.ElementAt(12).FirstName) @Html.DisplayFor(modelItem => modelItem.ElementAt(12).LastName)</div>
        <div class="col-sm-4" style="background-color:lightgray;">@Html.DisplayFor(modelItem => modelItem.ElementAt(13).FirstName) @Html.DisplayFor(modelItem => modelItem.ElementAt(13).LastName)</div>
        <div class="col-sm-4" style="background-color:lightgray;">@Html.DisplayFor(modelItem => modelItem.ElementAt(14).FirstName) @Html.DisplayFor(modelItem => modelItem.ElementAt(14).LastName)</div>
    </div>
</div>


