@model Excel.Web.Models.SessionModel

@{
    ViewBag.Title = "Index";
}

<h2>Sessions</h2>
<div class="row">
    <div class="col-md-4">
        <button type="button" onclick="Previous()">Previous</button>
        <input type="text" id="jdatepicker" value=@Model.SessionDateTime>
        <button type="button" onclick="Next()">Next</button>
        <p>@Model.SessionDateTime.ToLongDateString()</p>
    </div>

    <div class="col-md-4">
        @Html.LabelFor(m => m.LocationSelectList, "Location", new { @class = "control-label ddlLabel sr-only" })
    </div>
    @Html.DropDownList("loc", Model.LocationSelectList,
        new { @onchange = "CallChangeLocation(this.value)", @class = "form-control floatLable" })
    </div>


    <div class="col-md-4">
    @Html.LabelFor(m => m.AthleteType, htmlAttributes: new { @class = "control-label ddlLabel sr-only" })
    <div class="col-md-10">
        @Html.EnumDropDownListFor(model => model.AthleteType, htmlAttributes: new { @onchange = "CallChangeAthleteType(this.value)", @class = "form-control" })
    </div>
</div>
</br>

<!-- If Personal Training -->

@{ Html.RenderPartial("_PersonalTrainingGrid", @Model);}


<!-- Else Sports Training -->

<script>
    function CallChangeLocation(val) {
        window.location.href = "/Session/ChangeLocation?locId=" + val;
    }
    function CallChangeAthleteType(val) {
        window.location.href = "/Session/ChangeAthleteType?athleteTypeId=" + val;
    }
    function Previous() {
        window.location.href = "/Session/Previous";
    }
    function Next() {
        window.location.href = "/Session/Next";
    }

    $(function () {
        $("#jdatepicker").datepicker();
        $('#jdatepicker').change(function () {
            window.location.href = "/Session/ChangeDate?dt=" + $('#jdatepicker').val();
        });
    });
    
</script>