@model Excel.Web.Models.AthleteViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
    

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Last Name", "Index", new {sortOrder = ViewBag.NameSortParm})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Athletes.FirstOrDefault().FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Athletes.FirstOrDefault().AthleteType)
        </th>
        <th>
            @Html.ActionLink("Total Sessions", "Index", new {sortOrder = ViewBag.TotalSortParm})
        </th>
        <th>
            @Html.DisplayName("Location")
        </th>

        <th></th>
    </tr>

@foreach (var item in Model.Athletes) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AthleteType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionAthletes.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Name)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

