@model Excel.Entities.InjuryNote

@{
    ViewBag.Title = "InjuryDetails";
}

<h2>Injury/Notes</h2>

<div>
    <h4>@Model.Athlete.FullName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoteDate)
        </dt>

        <dd>
            @Html.Raw(Model.NoteDate.ToString("yyyy-MM-dd"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

    </dl>
</div>


<p>
    @Html.ActionLink("Edit", "InjuryEdit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "InjuryIndex", new { athleteId = Model.Athlete.Id })
</p>



