@using System.Web.UI.WebControls
@model IEnumerable<Excel.Entities.InjuryNote>

@{
    ViewBag.Title = "Injury";
}

<h2>Injury/Notes - All</h2>


<table class="table">
    <tr>
        <th style="width: 100px;">
            @Html.DisplayNameFor(model => model.NoteDate)
        </th>
        <th style="width: 200px;">
            @Html.DisplayNameFor(model => model.Athlete.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th style="width: 100px;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(item.NoteDate.ToString("yyyy-MM-dd"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Athlete.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                
                @Html.ActionLink("To Athlete", "Details", new {controller = "Athlete", id = item.Athlete.Id})
            </td>
        </tr>
    }

</table>
