@model Excel.Web.Models.QuickScheduleViewModel

@{
    ViewBag.Title = "Index";
}

@Html.HiddenFor(model => model.SessionId);

<h2>Quick Schedule</h2> <h3> @Model.SessionTime - @Model.SessionDate</h3>

@using (Html.BeginForm("Signup", "Quick"))
{
    @Html.TextBox("email")
    <input type="submit" value="Signup" />
}

<ul>
    @foreach (var item in Model.QuickAthletes)
    {
        var x = item.Athlete.FirstName + " " + item.Athlete.LastName;


        <li>
            @Html.ActionLink(x, "Confirm", "Quick", new {athleteId = item.Athlete.Id, sessionId = Model.SessionId}, null)
            @if (item.IsConfirmed)
            {
                <span>CONFIRMED</span>
            }
            else
            {
                <span>Unconfirmed</span>
            }
        </li>

    }

</ul>